NODE_ENV=production
MONGODB_URI=mongodb://mongo:27017/chat
REDIS_URL=redis://redis:6379

PORT=3000
SESSION_SECRET=session-secret-1234567890-very-long-string
CLIENT_URL=https://localhost:8443
VITE_API_URL=https://localhost:8443
