# openssl rand -hex 32

NODE_ENV=production

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=qwer1234
REDIS_PASSWORD=qwer1234

MONGODB_URI=mongodb://admin:qwer1234@mongo:27017/chat?authSource=admin
REDIS_URL=redis://:qwer1324@redis:6379

PORT=3000
SESSION_SECRET=qwer1234
