# password, session secret 등 쉽게 생성하기: openssl rand -hex 32

# .env.prod
NODE_ENV=production

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=qwer1234
REDIS_PASSWORD=qwer1234

MONGODB_URI=mongodb://admin:qwer1234@mongo:27017/chat?authSource=admin
REDIS_URL=redis://:qwer1234@redis:6379

PORT=3000
SESSION_SECRET=qwer1234

# .env.dev
MONGODB_URI=mongodb://localhost:27017/chat
REDIS_URL=redis://127.0.0.1:6379

PORT=3000
SESSION_SECRET=qwer1234

RATE_LIMIT_DISABLED=true
